body {
    background-image: url(media/LoginForumBG.jpeg);
    background-size: cover;
    background-attachment: fixed;
    animation: transitionIn 0.75s;

    overflow-x: hidden;

}

.bg-dandelion {
	background: rgb(232,196,82);
	background: linear-gradient(90deg, rgba(232,196,82,1) 0%, rgba(214,189,90,1) 50%, rgba(232,196,82,1) 100%);
}

/* colors new added*/
.bg-carbon {
	background-color: #42413D;
}

.bg-ash {
	background-color: #B2AFAC;
}

.bg-dust{
	background-color: #959492;
}

.logo > p {
    background-color: wheat;
    width: 10%;
    position: relative;
    left: 45%;
    top: 210px;

    border-radius: 12px;
    border: 3px solid green;
}

.form-container {

    background-color: aqua;
    border: 3px solid green;
    box-shadow:0px 0px 10px 0px  black;
    padding: 25px;
    border-radius: 12px;
    margin-top: 22%;

}

#AvtarPicSpace {
    margin-left: 25px;
}

.container {
    text-align: center;
    border-radius: 20px;
    margin-bottom: 50px
}

.container2 {
    text-align: center;
}

.title {
    font-size: 25px;
    font-weight: 100
}

.icon {
    position: relative;
    bottom: 11px
}

.mt-100 {
    margin-top: 100px
}

.profile img {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    width: 90px;
    height: 90px;
    border-radius: 20%;
}

.card {
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.card-body {
    position: relative;
    bottom: 50px;
}

.card-subtitle {
    margin-top: 40px;
}

.btn {
    margin-top: 36px;
    margin-bottom: 45px;
    background-color: #AB47BC;
    border: none;
    color: #fff
}

.btn:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: #fff
}

.header {
    padding-top: 40px
}

.vouchers, .rewards {
    margin-left: 10%;
    width: 80%;
    border: 10px solid #42413D;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	margin: 15px 0;
	height: 30px;
	width: 100%;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.modal, .loadingLottie, .wrongPassLottie {
    display: flex;
    justify-content: center;
}

canvas {
    justify-content: center;
}